body{
	/**padding-top: 100px;**/
	text-align: center;
	body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    /**margin-top: 70px;**/
}
}
.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #ffffff;
}
#about{
	height: 390px;
	min-height: 600px;
}
#work,{
	background-color: #74cfae;
	padding-top: 50px;
	margin-bottom: 0px;
}
#contact {
  position: relative; 
	height: 390px;
	min-height: 600px;}

.about-block {
  height: 390px;
  width: 100%;
  position: absolute;
  top: 50%;
  /**margin-top: -195px;**/
}